@font-face {
	font-family: "glitch_goblinregular";
	src: url("./assets/fonts/glitchgoblin-2o87v-webfont.woff2") format("woff2"),
		url("./assets/fonts/glitchgoblin-2o87v-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
*,
li {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 10vh;
	background: linear-gradient(to bottom, #000000, #434343);
}
.nav-left li {
	margin-left: 50px;
	font-size: 1.8rem;
	cursor: pointer;
	color: aliceblue;
	font-family: "glitch_goblinregular", sans-serif;
}
.nav-right {
	display: flex;
	justify-content: space-around;
	width: 50%;
}
.nav-right li a {
	text-decoration: none;
	color: aliceblue;
	font-family: "Popins", sans-serif;
}
header {
	min-height: 90vh;
	background: linear-gradient(to bottom, #7b4397, #dc2430);
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	justify-items: center;
}
.header-left {
	padding: 40px;
}
.header-left h1 {
	opacity: 0;
	transform: translateX(-100%);
	transition: opacity 1s, transform 1s;
	font-family: "glitch_goblinregular", sans-serif;
	font-size: 4rem;
	letter-spacing: 3px;
	margin-bottom: 60px;
}
.header-left p {
	opacity: 0;
	transform: translateY(100%);
	transition: opacity 1s, transform 1s;
	font-family: "Popins", sans-serif;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 30px;
}
.header-right {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.header-right img {
	width: 40%;
	border-radius: 30px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.874);
}
#image-right {
	opacity: 0;
	transform: translateY(100%);
	transition: opacity 1s, transform 1s;
}
#image-left {
	opacity: 0;
	transform: translateY(-100%);
	transition: opacity 1s, transform 1s;
}
main {
	background: linear-gradient(to bottom, #114357, #f29492);
	overflow: hidden;
}
.intro {
	color: aliceblue;
	background-color: #000000;
	height: 300px;
	padding: 40px;
}
#title-intro {
	opacity: 0;
	transform: scale(0.1);
	transition: opacity 1s, transform 1s;
	text-align: center;
}
#text-intro {
	opacity: 0;
	transform: translateY(100%);
	transition: opacity 1s, transform 1s;
	font-family: "Popins", sans-serif;
	line-height: 30px;
	font-size: 1.2rem;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
section {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	justify-items: center;
}
/* Puisque la section-4 ne ressemble pas aux autres sections, j'ai pensé qu'il ne fallait pas l'inclure dans les selecteur css des sections 1 à 3 */
.section-4 {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	justify-items: center;
}
section img {
	width: 40%;
	border-radius: 30px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.874);
}
#image-neon {
	opacity: 0;
	transform: translateY(100%);
	transition: opacity 1s, transform 1s;
}
#article-neon {
	opacity: 0;
	transform: translateX(100%);
	transition: opacity 1s, transform 1s;
}
#image-fantastic {
	opacity: 0;
	transform: translateX(100%);
	transition: opacity 1s, transform 1s;
}
#article-fantastic {
	opacity: 0;
	transform: translateY(100%);
	transition: opacity 1s, transform 1s;
}
#image-pika {
	opacity: 0;
	transform: translateX(-100%);
	transition: opacity 1s, transform 1s;
}
#article-pika {
	opacity: 0;
	transform: translateX(-100%);
	transition: opacity 1s, transform 1s;
}
#article-logo {
	opacity: 0;
	transform: translateX(-100%);
	transition: opacity 1s, transform 1s;
}
#img-one,
#img-two,
#img-three,
#img-four {
	opacity: 0;
	transform: translateX(100%);
	transition: opacity 1s, transform 1s;
}
.article-container {
	padding: 60px;
}
.titles-sections {
	font-family: "glitch_goblinregular", sans-serif;
	font-size: 2rem;
	letter-spacing: 3px;
	margin-bottom: 40px;
}
.paras-sections {
	font-family: "Popins", sans-serif;
	line-height: 30px;
	font-size: 1.2rem;
}
.section-4 .sticker-container {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 30px;
}
footer {
	background-color: rgb(190, 110, 110);
}
footer ul {
	padding: 30px;
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
footer ul i {
	font-size: 25px;
	cursor: pointer;
	transition: 0.2s;
}
footer ul i:hover {
	transform: scale(1.5);
}

@media (max-width: 1140px) {
	.header-left h1 {
		font-size: 2.5rem;
	}
	.header-left p {
		font-size: 1.2rem;
	}
	section {
		display: flex;
		flex-direction: column;
	}
	.section-4 {
		display: flex;
		flex-direction: column;
	}
	section img {
		width: 25%;
	}
	#image-neon {
		margin-top: 50px;
	}
}

@media (max-width: 900px) {
	.header-left h1 {
		font-size: 2rem;
	}
	.header-left p {
		font-size: 1rem;
	}
	header {
		display: flex;
		flex-direction: column;
	}
	.header-right img {
		width: 30%;
		margin-bottom: 80px;
	}
}

@media (max-width: 800px) {
	.titles-sections {
		font-size: 1.5rem;
	}
	.paras-sections {
		font-size: 0.9rem;
	}
	#text-intro {
		font-size: 0.9rem;
	}
}

@media (max-width: 530px) {
	nav,
	.nav-right {
		flex-direction: column;
		align-items: center;
	}
	.nav-left {
		display: none;
	}
	header {
		justify-content: center;
	}
	.header-right img {
		display: none;
	}
	#text-intro {
		font-size: 0.7rem;
	}
	section {
		display: flex;
		flex-direction: column;
	}
	#image-neon {
		margin-top: 50px;
	}
	.section-4 {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 408px) {
	#text-intro {
		font-size: 0.6rem;
	}
}
